[submodule "freedom-mee"]
	path = freedom-mee
	url = https://github.com/sifive/freedom-mee.git
	branch = build-preconfigured
[submodule "software/hello"]
	path = software/hello
	url = ../example-hello
